:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: var(--very-dark-blue);
  color: var(--soft-violet);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 9rem;
}

.card {
  background-color: var(--dark-desaturated-blue);
  display: flex;
  border-radius: 10px;
  justify-content: space-around;
}

.card .card-text {
  display: flex;
  flex-direction: column;
}

.card-text .title {
  font-size: 2.5rem;
  padding: 2rem;
  color: var(--White);
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.title strong {
  color: var(--soft-violet);
}

.card .paragraph {
  margin: 2rem;
  color: var(--transparent-white);
  font-size: 1rem;
  line-height: 1.5;
}

.card .stats {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin: 2rem;
}

.stats .item {
  display: inline-block;
  padding-right: 2.5rem;
}

.item .number {
  margin: 0;
  color: var(--White);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.item:nth-child(3) .number {
  text-transform: uppercase;
}

.item p {
  margin: 0;
  color: var(--transparent-white);
  font-size: .7rem;
  line-height: 2.5;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.box-image{
  width: 100%;
  height: auto;
  background: linear-gradient(hsla(277, 100%, 25%, .514) 100%, rgba(255, 255, 255, 0)),
   url('./images/image-header-desktop.jpg');
  background-size: cover;
}

/* Padrão */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
